version: "3.8"

services:
  db:
    image: postgres:13-alpine
    container_name: afya_db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: afya_db
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
