# fly.toml app configuration file
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "desafio-afya-prontuario-medico" # ATENÇÃO: Mude este nome para um único no Fly.io
primary_region = "gru" # São Paulo (recomendado para latência no BR)

[build]

[deploy]
  # Comando executado antes de subir a nova versão
  # Garante que o banco de dados esteja atualizado com as migrations
  release_command = "npx prisma migrate deploy"

[env]
  PORT = "3000"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 512
